.jobs-page {


  .table-page-table {
    &_status {
      border-left: 4px solid;
    }
    &_cell {
      &__name {
        min-width: 250px;
        color: #377dc0;
        font-weight: 400;
      }
      &__date {
        min-width: 100px;
        color: #a7a7a7;
        font-weight: 100;
      }
      &__provider {
        min-width: 250px;
        color: #37c09f;
        font-weight: 400;
      }
      &__staff {
        &-item {
          display: flex;
          align-items: center;
          font-size: 10px;
          line-height: 9px;
          background-color: #dcdcff;
          color: #454545;
          border-radius: 50px;
          padding: 0 10px 0 0;
          margin: 0 2px;
          box-shadow: 0px 1px 0px 0px rgba(236, 236, 236, 0.56);
          cursor: pointer;
          &:hover {
            background-color: #cbcbeb;
          }
          &_avatar {
            border-radius: 50px;
            background-color: gray;
            width: 25px;
            height: 25px;
            background-size: cover;
          }
          &_name {
            padding-left: 6px;
          }
        }
      }
      &__remark {
        &-item {
          text-transform: capitalize;
          display: flex;
          align-items: center;
          font-size: 10px;
          line-height: 9px;
          border: 1px solid #377cc0;
          color: #377cc0;
          border-radius: 50px;
          padding: 5px 7px;
          margin: 0 2px;
          box-shadow: 0px 1px 0px 0px rgba(236, 236, 236, 0.56);
          cursor: pointer;
          &:hover {
            border: 1px solid #244e78;
            color: #244e78;
          }
          &_name {
            padding-left: 6px;
          }
        }
      }
    }
  }
}
