<div class="page table-page jobs-page">
  <div class="table-page-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="table-page-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached.
    </div>
  </div>

  <div class="table-page_new-item">
    <button routerLink="/jobs/new" mat-raised-button color="primary">Add job</button>
  </div>

  <div class="table-page_header">
    <h2>All Jobs</h2>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </div>


  <div class="table-page_filter-search">
    <mat-form-field class="table-page_search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field class="table-page_filter">
      <mat-select placeholder="Filter" [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="table-page-additional-selection">
            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-form-field>
  </div>

  <div class="table-page-table-container">

    <table mat-table [dataSource]="dataSource" class="table-page-table dream-table" matSort matSortActive="name" matSortDisableClear
      matSortDirection="asc">

      <!-- Star Column -->
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <div class="table-page-table_cell">

            <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>

            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button (click)="deleteItem(item)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef>Remarks</th>
      <td mat-cell *matCellDef="let row">
        <div class="table-page-table_cell table-page-table_cell__remark">
          <span class="table-page-table_cell__remark-item" *ngFor="let remark of row.remarks">
              {{remark?.name}}
          </span>
        </div>
      </td>
    </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef>Provider staff</th>
        <td mat-cell *matCellDef="let row">
          <div class="table-page-table_cell table-page-table_cell__staff">
            <span class="table-page-table_cell__staff-item" *ngFor="let person of row.provider.staff">
              <div class="table-page-table_cell__staff-item_avatar"
              [ngStyle]="{'background-image': 'url(' + person.avatar + ')'}"
              ></div>
              <span class="table-page-table_cell__staff-item_name">{{person.firstname}} {{person.lastname}}</span>
            </span>
          </div>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Provider</th>
        <td mat-cell *matCellDef="let row">
          <div class="table-page-table_cell table-page-table_cell__provider">
            {{row.provider.name}}
          </div>
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="last_modified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Modified</th>
        <td mat-cell *matCellDef="let row">
          <div class="table-page-table_cell table-page-table_cell__date">
            {{row.last_modified | date: 'dd/MM/yyyy HH:mm' }}
          </div>
        </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Name
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="table-page-table_cell table-page-table_cell__name"
          [ngClass]="{
            'table-page-table_status': true}"
            [style.borderColor]="statuses[row.status]"
          >{{row.name}}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>

</div>
