<div class="sign-in">
    <!-- <div class="sign-in__lang-select">
      <div>
        <mat-form-field>
          <mat-select placeholder="язык" (selectionChange)="changeLang($event)">
            <mat-option *ngFor="let lang of langs" [value]="lang.code">{{ lang.title }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div> -->
    <div class="sign-in__body">
      <!-- <mat-card class="sign-in-window" [@routerTransition]=""> -->
      <mat-card class="sign-in-window">
        <!-- <h2>{{ 'HELLO' | translate:param }}</h2> -->
        <form class="sign-in-form" [formGroup]="signInForm" (ngSubmit)="submitForm(signInForm.value)">
          <mat-form-field class="example-full-width">
            <input [formControl]="signInForm.controls['username']" matInput="" placeholder="Login"/>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="password" [formControl]="signInForm.controls['password']" matInput="" placeholder="Password"/>
          </mat-form-field>
          <button mat-raised-button="" color="primary">Login</button>
        </form>
      </mat-card>
    </div>
  </div>
