.sign-in {

  &-window {

  }
  &-form {
    display: flex;
    flex-direction: column;
  }
  &__lang-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    padding: 30px;
  }
  &__body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
