@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 960px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1260px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;

  div {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-left {
  }
  &-center {
    justify-content: center;
  }
  &-right {
    justify-content: flex-end;
  }

  &-item {
    &__job {
      padding-left:27px;
      border-left: 3px solid gray;
    }
    &__all-jobs {
      padding-left:30px;
      border: none;
    }
  }
  &_user {
    span {
      font-weight: 200;
      padding-right: 5px;
    }
  }
}


.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__progressbar {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-toolbar {
    position: fixed;
    z-index: 2;
  }
  &-app-name {
    padding-left: 8px;
  }
  &-sidenav {
    // width: 250px;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      &-thumb {
        background: transparent;
      }
    }
  }
  &-sidenav:hover {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      &-thumb {
        background: rgba(0,0,0,.26);
      }
    }
  }


  &-sidenav-list {
    padding-top: 0;
  }
  &-sidenav-container {
    display: flex;
    margin: 0;
    flex: 1 0 auto;
  }


  &-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    @include for-phone-only {
      width: 100%;
      margin: 20px;
    }

    @include for-tablet-portrait-up {
      width: 100%;
      margin-right: 40px !important;
      margin-left: 40px !important;
    }

    @include for-tablet-landscape-up {
      width: 840px;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    @include for-desktop-up {
      width: 66% !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &_sqed {
      @include for-tablet-portrait-up {
        width: 100%;
        margin-right: 40px !important;
        margin-left: 290px !important;
      }
    }
  }

.mat-nav-list .mat-list-item {
  display: flex;
  align-items: center;
  span {
    padding-left: 5px;
    padding-top: 1px;
  }
  .mat-icon {
    height: 18px;
    width: 18px;
  }
  .material-icons {
    font-size: 18px;
  }
}

}

.mat-drawer-container {
  background: none;
  overflow: visible;
}


