<div class="layout" [class.layout-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="navbar" color="primary">
    <div>
      <button mat-icon-button="" (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="navbar-right">

      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>

      <button class="navbar_user" mat-button [matMenuTriggerFor]="menu">
        <span>Hi, User</span>
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>bug_report</mat-icon>
          <span>Report</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>settings_applications</mat-icon>
          <span>Settings</span>
        </button>
        <button routerLink="/login" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar>

  <mat-sidenav-container class="layout-sidenav-container" [style.marginTop.px]='mobileQuery.matches ? 56 : 64' [style.overflowY]='mobileQuery.matches && snav.opened ? "hidden" : "visible"'>
    <mat-sidenav style="border-right: 1px solid #0000000a;" class="layout-sidenav" #snav="" [mode]="mobileQuery.matches ? 'over' : 'side'" [style.width.px]="sidenavWidth"
      [style.position]="snav.mode === 'side' ? 'fixed' : ''" [style.marginTop.px]="snav.mode === 'side' ? 64 : 0" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="layout-sidenav-list">
        <mat-list-item routerLink="/">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>
        <mat-list-item (click)="jobs_show =!jobs_show">
          <mat-icon>work</mat-icon>
          <span>Jobs</span>
        </mat-list-item>
        <mat-list *ngIf="jobs_show" style="padding-top: 0">
          <mat-list-item class="navbar-item navbar-item__job navbar-item__all-jobs" routerLink="/jobs">All Jobs</mat-list-item>
          <mat-list-item [style.borderColor]="job_statuses['incomplete'].color" class="navbar-item navbar-item__job" routerLink="/jobs/incomplete">Incomplete</mat-list-item>
          <mat-list-item [style.borderColor]="job_statuses['pending'].color" class="navbar-item navbar-item__job" routerLink="/jobs/pending">Pending approval</mat-list-item>
          <mat-list-item [style.borderColor]="job_statuses['rejected'].color" class="navbar-item navbar-item__job" routerLink="/jobs/rejected">Rejected</mat-list-item>
        </mat-list>
        <mat-list-item routerLink="/providers">
          <mat-icon>business</mat-icon>
          <span>Providers</span>
        </mat-list-item>
        <mat-list-item routerLink="/users">
          <mat-icon>people</mat-icon>
          <span>Users</span>
        </mat-list-item>
        <mat-list-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Configuration</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="layout-container" [ngClass]="{ 'layout-container_sqed' : snav.opened }">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
