.not-found-page {
  display: flex;
  height: calc(100vh - 60px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 100px;
    font-weight: 100;
    padding-bottom: 30px;
  }
}
