/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/normalize.css';
@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
$general-typography: mat-typography-config( $font-family: 'Roboto, sans-serif', $body-1: mat-typography-level(14px, 24px, 100), $body-2: mat-typography-level(14px, 24px, 300));
@include angular-material-typography($general-typography);
@include mat-core();
$md-mcgpalette0: ( 50: #e8f0f8, 100: #c5daee, 200: #9ec2e3, 300: #77aad7, 400: #5a97cf, 500: #3d85c6, 600: #377dc0, 700: #2f72b9, 800: #2768b1, 900: #1a55a4, A100: #dae9ff, A200: #a7caff, A400: #74abff, A700: #5b9cff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$my-app-primary: mat-palette($md-mcgpalette0, 600, 900);
$my-app-accent: mat-palette($md-mcgpalette0, 500, 900, A100);
$my-app-warn: mat-palette($md-mcgpalette0);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
html,
body {
    height: 100%;
    width: 100%;
    background: #f7f7f7;
}

@media (max-width:600px) {
    .mat-ink-bar {
        top: 0;
    }
}

.mat-drawer-transition .mat-drawer-content {
    // transition: none !important;
}

.mat-drawer-content {
    width: 100%;
    height: inherit !important;
}

.mat-select-arrow {
    color: none;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: none;
}

.mat-paginator {
    background: none;
}

//tables
.dream-table {
    background: none;
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 0;
        border: none;
    }
    th {
        padding: 0 10px !important;
        background-color: #f7f7f7;
    }
    border-collapse:collapse;
    td {
        border: none !important;
    }
    td .table-page-table_cell {
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 0 10px;
        border-radius: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 0px 1px 0px 0px rgba(236, 236, 236, 0.56);
        .mat-icon {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
        .material-icons {
            font-size: 16px;
        }
    }
    td:first-child .table-page-table_cell {
        border-radius: 2px 0px 0px 2px;
    }
    td:last-child .table-page-table_cell {
        border-radius: 0px 2px 5px 2px;
        padding-right: 10px;
    }
    td.mat-cell:first-child,
    td.mat-footer-cell:first-child,
    th.mat-header-cell:first-child {
        padding: 5px 0;
    }
    td.mat-cell:last-child,
    td.mat-footer-cell:last-child,
    th.mat-header-cell:last-child {
        padding-right: 0;
    }
}

.mat-select-arrow {
    color: rgba(0, 0, 0, 0);
}

//page
.page {
    width: 100%;
    position: relative;
    padding-top: 30px;
}

//table page
.table-page {
    &_new-item {
        padding-top: 20px;
    }
    &_header {
        h2 {
            margin: 0
        }
        ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_filter-search {
        display: flex;
    }
    &_search {
        width: 100%;
    }
    &_filter {
        padding-left: 10px;
        width: 120px;
    }
}

.table-page-table {}

.table-page-table-container {
    width: 100%;
    overflow: scroll;
}

.table-page-loading-shade {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-page-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

.mat-drawer.mat-drawer-side {
  z-index: 10;
}
